<div class="btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    	{{ $user->profileImage(60) }} {{ $user->full_name }} <span class="caret"></span>
  	</button>
  	
  	<ul class="dropdown-menu" role="menu">
    {{ if ($checkAgent) }}
  		<li><a href="{{ url('university/agent') }}">View Profile</a></li>
    	<li><a href="{{ url('university/agent/edit') }}">Edit Profile</a></li>    	
    {{ else }}
        <li><a href="{{ url('university/student') }}">View Profile</a></li>
        <li><a href="{{ url('university/student/edit') }}">Edit Profile</a></li>
    {{ endif }}
        <li class="divider"></li>
        <li><a href="{{ url('user/logout') }}">Logout</a></li>
  	</ul>
</div>