/**
 * Require styles for University App
**/

.form-side {
	width: 50%;
	float: left;
}

.form-side .form-block {
	width: 90%;
}

.form-side label, 
.form-fields label {
	width: 100%;
	float: none;
	display: block;
	margin-bottom: 15px;
}

.form-side input[type=text],
.form-side input[type=tel],
.form-side input[type=email],
.form-side select,
.form-side textarea {
	width: 80%;
}

.form-side select {
	padding: 10px;
}

.form-buttons {
	padding: 20px 0;
}

.form-buttons a {
	margin-left: 10px;
}

.uni-title {
	margin-bottom: 20px;
}

/* Category */
.category-lists {
	width: 70%;
	float: left;
	margin-right: 20px;
}

.category-lists small.label {
	margin: 0 5px;
}

.category-add {
	float: 25%;
	float: left;
}


.category-form label {
	margin-bottom: 5px;
}