<div class="breadcrumb">
	<div class="container">
		<div class="col-md-12">
		{{ if ($method == 'add') }}		
			<h2>{{ t('university::agent.title.add') }}</h2>
		{{ else }}
			<h2>{{ t('university::agent.title.edit') }}</h2>
		{{ endif }}
		</div>
	</div>
</div>

<div class="container">
	<div class="col-md-12">

	{{ Form::start(url("university/agent/student/".$method), 'studentAddForm', false, array('class' => 'form')) }}

	<div class="form-wrapper">
		<div class="form-group">
			<label for="name">{{ Form::label(t('university::agent.label.first_name'), 'first_name') }}</label>
			{{ Form::input('first_name', isset($student->first_name) ? $student->first_name : '', 'text', array('class' => 'form-control')) }}
		</div>
		<div class="form-group">
			<label for="name">{{ Form::label(t('university::agent.label.last_name'), 'last_name') }}</label>
			{{ Form::input('last_name', isset($student->last_name) ? $student->last_name : '', 'text', array('class' => 'form-control')) }}
		</div>
		<div class="form-group">
			<label for="about">{{ Form::label(t('university::agent.label.email'), 'email') }}</label>
			{{ Form::email('email', isset($student->email) ? $student->email : '', array('class' => 'form-control')) }}
		</div>
		<div class="form-group">
			<label for="name">{{ Form::label(t('university::agent.label.password'), 'password') }}</label>
			{{ Form::password('password', '', array('class' => 'form-control')) }}
		</div>		
		<div class="form-group">
			<label for="name">{{ Form::label(t('university::agent.label.conf_password'), 'conf_password') }}</label>
			{{ Form::password('conf_password', '', array('class' => 'form-control')) }}
		</div>
		{{ Form::hidden('method', $method) }}
		{{ if ($method == 'add') }}
			{{ Form::submit('submit', t('university::agent.label.add'), array('id' => 'add', 'class' => 'btn btn-success')) }}
		{{ else }}
			{{ Form::hidden('studentId', $student->id) }}			
			{{ Form::submit('submit', t('university::studentsheett.label.update'), array('id' => 'add', 'class' => 'btn btn-success')) }}
		{{ endif }}
		<a href="{{ url("university/agent/") }}">{{ t('university::university.label.cancel') }}</a>
	</div>

	{{ Form::end( ) }}

	</div>
</div>