<div class="uni-wrapper clearfix">

	{{ Form::start(adminUrl("university/add"), 'uniAddForm', false, array('class' => 'form')) }}

	<div class="form-side">
		<div class="form-block">
			<label for="name">{{ Form::label(t('university::university.label.name'), 'name') }}</label>
			{{ Form::input('name', '', 'text', array('id' => 'uniEmail')) }}
		</div>
		<div class="form-block">
			<label for="name">{{ Form::label(t('university::university.label.summary'), 'summary') }}</label>
			{{ Form::textarea('summary', '', array('id' => 'uniSummary')) }}
		</div>
		<div class="form-block">
			<label for="about">{{ Form::label(t('university::university.label.about'), 'about') }}</label>
			{{ Form::cksimple('about', '') }}
		</div>
	</div>

	<div class="form-side">
		<div class="form-block">
			<label for="country_list">{{ Form::label(t('university::university.label.country'), 'country_list') }}</label>
			{{ Form::countryList() }}
		</div>
		<div class="form-block">
			<label for="name">{{ Form::label(t('university::university.label.city'), 'city') }}</label>
			{{ Form::input('city', '', 'text', array('id' => 'uniCity')) }}
		</div>
		<div class="form-block">
			<label for="name">{{ Form::label(t('university::university.label.phone'), 'phone') }}</label>
			{{ Form::tel('phone', '', array('id' => 'uniPhone')) }}
		</div>
		<div class="form-block">
			<label for="name">{{ Form::label(t('university::university.label.fax'), 'fax') }}</label>
			{{ Form::input('fax', '', 'text', array('id' => 'uniFax')) }}
		</div>
		<div class="form-block">
			<label for="name">{{ Form::label(t('university::university.label.email'), 'email') }}</label>
			{{ Form::email('email', '', array('id' => 'uniEmail')) }}
		</div>
		<div class="form-block">
			<label for="name">{{ Form::label(t('university::university.label.website'), 'website') }}</label>
			{{ Form::input('website', '', 'text', array('id' => 'uniWebsite')) }}
		</div>
		<div class="form-block">
			<label for="name">{{ Form::label(t('university::university.label.photo'), 'photo') }}</label>
                {{ Form::thumbnail('photo', '', array('add' => t('blog::blog.add_featured_img'), 'remove' => t('blog::blog.remove_featured_img'))) }}
            </div>
		</div>
	</div>

	<div class="form-buttons">
		{{ Form::hidden('method', 'create') }}
		{{ Form::submit('submit', t('university::university.label.add'), array('id' => 'add', 'class' => 'btn btn-green')) }}
		<a href="{{ adminUrl("university") }}">{{ t('university::university.label.cancel') }}</a>
	</div>	

	{{ Form::end( ) }}

</div>