{{ if(count($universities) > 0) }}

	<table class="stripe">
		<thead>
			<tr>	
				<th>{{ t('university::university.label.name') }}</th>
				<th width="10%">{{ t('university::university.label.country') }}</th>
				<th width="22%" style="min-width:125px;">{{ t('label.actions') }}</th>
			</tr>
		</thead>
		<tbody>			
			{{ loop($universities as $university) }}
			<tr>	
				<td>	
					{{ $university->name }}					
				</td>

				<td>
					{{ Config::get('country')[$university->country] }}
				</td>
				<td>
					<a href="{{ adminUrl("university/view/".$university->id) }}" class="ico-btn tipsy-tip" original-title="{{ t('university::university.label.view') }}"><i class="icon-view"></i></a>
					<a href="{{ adminUrl("university/edit/".$university->id) }}" class="ico-btn tipsy-tip" original-title="{{ t('university::university.label.edit') }}"><i class="icon-edit"></i></a>
					<a href="{{ adminUrl("university/delete/".$university->id) }}" class="ico-btn tipsy-tip confirm_delete" original-title="{{ t('university::university.label.delete') }}"><i class="icon-remove"></i></a>
				</td>
			</tr>
			{{ endloop }}
		</tbody>
	</table>
	
	{{ if(isset($pagination)) }}
		{{ $pagination }}
	{{ endif }}

{{ else }}
	<div id="no-index-data">
		{{ t('university::university.label.none') }}
	</div>
{{ endif }}
